<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faroti.petshotel">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pet_hotel_logo"
        android:label="Pet Hotel"
        android:roundIcon="@drawable/ic_pet_hotel_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetsHotel">
        <activity
            android:name=".view.union_base_activity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.RegisterGarden"
            android:exported="false" />
        <activity
            android:name=".view.RegisterUserActivity"
            android:exported="true" />
        <activity
            android:name=".view.TipsActivity"
            android:exported="true" />
        <activity
            android:name=".view.InfoContact"
            android:exported="false" />
        <activity
            android:name=".view.SearchContact"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.ActivityOne"
            android:exported="false" />
        <activity
            android:name=".view.ActivityTwo"
            android:exported="false" />
        <activity
            android:name=".view.ActivityThree"
            android:exported="false" />
        <activity
            android:name=".view.ActivityFour"
            android:exported="false" />
        <activity
            android:name=".view.ActivityFive"
            android:exported="false" />
    </application>

</manifest>