<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faroti.petshotel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pet&apos;s Hotel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetsHotel">
        <activity
            android:name=".union_base_activity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="true" />
        <activity
            android:name=".TipsActivity"
            android:exported="true" />
        <activity
            android:name=".InfoContact"
            android:exported="false" />
        <activity
            android:name=".SearchContact"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityOne"
            android:exported="false" />
        <activity
            android:name=".ActivityTwo"
            android:exported="false" />
        <activity
            android:name=".ActivityThree"
            android:exported="false" />
        <activity
            android:name=".ActivityFour"
            android:exported="false" />
        <activity
            android:name=".ActivityFive"
            android:exported="false" />


    </application>

</manifest>